@font-face {
  font-family: 'PP Editorial Old';
  src: url('/fonts/ppeditorialold-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Editorial Old';
  src: url('/fonts/ppeditorialold-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PP Editorial Old';
  src: url('/fonts/ppeditorialold-ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Editorial Old';
  src: url('/fonts/ppeditorialold-ultralightitalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
